<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>416519844116-pa43ahpr170vei13lpihj3er0d2dmrb6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.416519844116-pa43ahpr170vei13lpihj3er0d2dmrb6</string>
	<key>API_KEY</key>
	<string>AIzaSyCwYpKxmO3K018-TLtn4xsmKvCX_Cfp-OI</string>
	<key>GCM_SENDER_ID</key>
	<string>416519844116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AlbanovaKa.ArtStore</string>
	<key>PROJECT_ID</key>
	<string>treeartsyiosstore</string>
	<key>STORAGE_BUCKET</key>
	<string>treeartsyiosstore.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:416519844116:ios:24983e288aca4a340f5201</string>
</dict>
</plist>