<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>30316807647-0r1nf0rf4k0u84m3upie0vsase8mjflk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.30316807647-0r1nf0rf4k0u84m3upie0vsase8mjflk</string>
	<key>API_KEY</key>
	<string>AIzaSyD4Z2JnZMhFQJO2S5rzaI7-U2uzuu9Whyg</string>
	<key>GCM_SENDER_ID</key>
	<string>30316807647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AlbanovaKa.ArtStore</string>
	<key>PROJECT_ID</key>
	<string>art-s-f96d1</string>
	<key>STORAGE_BUCKET</key>
	<string>art-s-f96d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:30316807647:ios:a8c2dd1067ecbbda77b06a</string>
</dict>
</plist>